<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
using System;
using System.Collections.Generic;

namespace IX.Retry.UnitTests
{
    public partial class RetryTheories
    {
	    static partial void GenerateTestData(List<object[]> objects, Random r, List<Type> exceptionTypes)
		{
<#
for (int z = 1; z <= 4; z++)
{
    for (int i = 1; i <= 8; i++)
	{
	    for (int j = 0; j <= 16; j++)
		{
#>
            objects.Add(new object[]
                {
                    <#= z #>,
                    new int[] { <#
            List<string> pars = new List<string>();
            for (int q = 0; q < j; q++)
			{
			    pars.Add("r.Next()");
			}
			string paramsString = string.Join(", ", pars.ToArray());
#><#= paramsString #> },
                    new Type[] { <#
            pars = new List<string>();
            for (int q = 0; q < i; q++)
			{
			    pars.Add("exceptionTypes[" + q + "]");
			}
			paramsString = string.Join(", ", pars.ToArray());
#><#= paramsString #> }
                });

<#
		}
	}
}
#>
		}
	}
}